:root {
    --color-brown-dark: #704e3c;
    --color-brown-darker: #462f23;
    --color-brown-darkest: #21140d;
    --color-blue-lightest: #e8f2f9;
    --color-blue-light: #a7d1eb;
    --color-blue: #71ACCB;
    --color-blue-medium: #56859e;
    --color-blue-dark: #3d6073;
    --color-blue-darker: #263e4a;
    --color-blue-darkest: #101e25;
    --color-gray-lightest: #edeceb;
    --color-gray-light: #c8c3c1;
    --color-gray: #a39c99;
    --color-gray-medium: #7d7775;
    --color-gray-dark: #595553;
    --color-gray-darker: #373433;
    --color-gray-darkest: #181716;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-gray-lightest);
    color: var(--color-gray-darkest);
    text-align: center;
}

header,
footer {
    background-color: var(--color-brown-dark);
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-blue-lightest);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--color-blue);
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
}

main {
    padding: 20px;
    background-color: var(--color-gray-light);
}

section {
    margin-bottom: 40px;
}

h1,
h2,
h3 {
    color: var(--color-brown-darker);
}

button {
    background-color: var(--color-blue-medium);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--color-blue-dark);
}

input,
textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--color-gray-medium);
    border-radius: 5px;
    background-color: var(--color-gray-lightest);
    color: var(--color-gray-darkest);
}

label {
    font-weight: bold;
    color: var(--color-gray-dark);
}

footer section {
    margin-top: 20px;
}

footer img {
    margin-top: 10px;
}
